In [1]:
# 1. Load the dataset using pandas

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('diabetes.csv')

In [4]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
data.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [7]:
data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [13]:
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
# Extract data from outcome column is a variable named Y

In [35]:
Y = data.iloc[:,:-1]

In [36]:
Y

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [38]:
# Extract data from every column except outcome column in a variable
# named X

In [41]:
X = data.iloc[:,-1:]

In [42]:
X

     Outcome
0          1
1          0
2          1
3          0
4          1
..       ...
763        0
764        0
765        0
766        1
767        0

[768 rows x 1 columns]

In [43]:
### Divide the dataset into two parts for training and testing in 70% and 30%
### proportion

In [45]:
from sklearn.model_selection import train_test_split

In [54]:
x_train, x_test,y_train, y_test = train_test_split(Y,X,test_size=0.30,random_state= 10)

In [55]:
x_train.shape

(537, 8)

In [56]:
X.shape

(768, 1)

In [57]:
x_test.shape

(231, 8)

In [58]:
## create and train

In [59]:
from sklearn.linear_model import LogisticRegression

In [60]:
lr = LogisticRegression()

In [61]:
lr.fit(x_train, y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [63]:
y_predict = lr.predict(x_test)

In [67]:
from sklearn import *

In [71]:
confusion_matrix = metrics.confusion_matrix(y_test,y_predict)

In [72]:
confusion_matrix

array([[128,  16],
       [ 44,  43]], dtype=int64)

In [76]:
accuracy = (128+43)/(128+16+44+43)

In [77]:
accuracy

0.7402597402597403

In [78]:
score = metrics.accuracy_score(y_test,y_predict)

0.7402597402597403